
.title_name {
    width: 800px;
    height: 200px;
    font-size: 50px;
    font-family: 'Truetype';
    color: #a87f50;
}

.name_on_keyboard {
    width: 1000px;
    height: 300px;
    font-size: 100px;
    font-family: 'Truetype';
    color: #2c1c13;
}

