* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Truetype';
    src: url('../../virtual-keyboard-steampunk/references/fonts/steampunk-font/AnyConv.com__SteampunkDemoByMartaVanEck-lwEe.woff');
}

@font-face {
    font-family: 'Truetype';
    src: url('../../virtual-keyboard-steampunk/references/fonts/steamwreck-font/AnyConv.com__Steamwreck-07pd.woff');
    src: url('../../virtual-keyboard-steampunk/references/fonts/steamwreck-font/AnyConv.com__SteamwreckBold-e3Xp.woff');
    src: url('../../virtual-keyboard-steampunk/references/fonts/steamwreck-font/AnyConv.com__SteamwreckBoldItalic-WLBY.woff');
    src: url('../../virtual-keyboard-steampunk/references/fonts/steamwreck-font/AnyConv.com__SteamwreckItalic-aqmE.woff');
}

.title_name {
    width: 800px;
    height: 200px;
    font-size: 50px;
    font-family: 'Truetype';
    color: #a87f50;
}

.name_on_keyboard {
    width: 1000px;
    height: 300px;
    font-size: 100px;
    font-family: 'Truetype';
    color: #2c1c13;
}

