* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'SteampunkGears';
    src: url('../../virtual-keyboard-steampunk/references/fonts/steampunk-font/AnyConv.com__SteampunkDemoByMartaVanEck-lwEe.woff');
}

@font-face {
    font-family: 'SteampunkMain';
    src: url('../../virtual-keyboard-steampunk/references/fonts/steamwreck-font/AnyConv.com__Steamwreck-07pd.woff');   
}

.title_name {
    width: 800px;
    height: 200px;
    font-size: 150px;
    font-family: 'SteampunkGears';
    color: #a87f50;
}

.name_on_keyboard {
    width: 1000px;
    height: 300px;
    font-size: 100px;
    font-family: 'SteampunkMain';
    color: #2c1c13;
    text-shadow: 0 0 10px #ffedd3;
}

